# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 35
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews

In [3]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified | Absolutely horrible airline....
1  ✅ Trip Verified |  Having experienced delays a...
2  ✅ Trip Verified | Travelled to Heathrow to Kal...
3  Not Verified |  This flight failed at every le...
4  Not Verified |  Beware of British Airways and ...

In [4]:
df.to_csv("/Users/stella/Downloads/BritishAirways/BA/data/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [5]:
df

                                                reviews
0     ✅ Trip Verified | Absolutely horrible airline....
1     ✅ Trip Verified |  Having experienced delays a...
2     ✅ Trip Verified | Travelled to Heathrow to Kal...
3     Not Verified |  This flight failed at every le...
4     Not Verified |  Beware of British Airways and ...
...                                                 ...
3495  LHR to BOS. Day after baggage shut down but Fi...
3496  LHR-ARN. All the procedures at Heathrow termin...
3497  LGW to AMS. Easy check-in at Gatwick with the ...
3498  LHR-ATH-ATH June 2014. Both flights 1.5 hours ...
3499  Travelled from Barbados to London Gatwick and ...

[3500 rows x 1 columns]

In [6]:
# Inspect index 0

df['reviews'].get(0)

'✅ Trip Verified | Absolutely horrible airline. Communication is terrible. Last minute delays, cancellations, seat changes with no communication. App and website user experience is years behind other airlines. Seats are cramped and uncomfortable. Overpriced. Would not fly again.'

#### <b> Clean the dataset </b>

In [10]:
# import the NLTK libraries, used for semantic analysis purposes
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

In [13]:
import re

nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /Users/stella/nltk_data...

True

In [14]:
reviews_data = df.reviews.str.strip("✅ Trip Verified |")
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [15]:
# add the corpus to the original dataframe

df['corpus'] = corpus
df

,reviews,corpus
0,✅ Trip Verified | Absolutely horrible airline....,absolutely horrible airline communication terr...
1,✅ Trip Verified | Having experienced delays a...,experienced delay cancellation departing usa e...
2,✅ Trip Verified | Travelled to Heathrow to Kal...,avelled heathrow kalamata return journey day l...
3,Not Verified | This flight failed at every le...,verified flight failed every level delayed arr...
4,Not Verified | Beware of British Airways and ...,verified beware british airway marketing make ...
...,...,...
3495,LHR to BOS. Day after baggage shut down but Fi...,lhr bos day baggage shut first check easy secu...
3496,LHR-ARN. All the procedures at Heathrow termin...,lhr arn procedure heathrow terminal breeze kin...
3497,LGW to AMS. Easy check-in at Gatwick with the ...,lgw am easy check gatwick pod check print boar...
3498,LHR-ATH-ATH June 2014. Both flights 1.5 hours ...,lhr ath ath june flight hour late always seems...
3499,Travelled from Barbados to London Gatwick and ...,avelled barbados london gatwick onwards italy ...

In [16]:
#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'\s*✅ Trip Verified \|\s*'), '', inplace=True)

df.head(8)

,reviews,corpus
0,Absolutely horrible airline. Communication is ...,absolutely horrible airline communication terr...
1,Having experienced delays and cancellations de...,experienced delay cancellation departing usa e...
2,Travelled to Heathrow to Kalamata and return j...,avelled heathrow kalamata return journey day l...
3,Not Verified | This flight failed at every le...,verified flight failed every level delayed arr...
4,Not Verified | Beware of British Airways and ...,verified beware british airway marketing make ...
5,I flew from Cairo to Heathrow on what they cal...,flew cairo heathrow call euro club class cramp...
6,"Not Verified | I flew with numerous airlines, ...",verified flew numerous airline gotta admit bri...
7,We were traveling as a family (5 people). Beca...,traveling family people accident airport arriv...

In [17]:
# Cleaned data 

df.to_csv("data/BA_reviews_cleaned.csv")